/* ============================= Table of Content =============================
1. Imports
2. Basic Style
3. Global Style
4. Header
5. Hero
6. Testimonials
7. Services Area
8. Download Products
9. Footer

==============================================================================*/

/* ======================== 1. Imports ======================== 
=============================================================*/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i');
/* External CSS */

@import url("../css/external/font-awesome/css/font-awesome.min.css");
@import url("../css/external/bootstrap.min.css");
@import url("../css/external/resetmix.css");
/* ======================== 2. Basic Style ========================
=================================================================*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #787878;
    line-height: 25px;
}

a {
    color: #787878;
    text-decoration: none;
}

a:focus {
    box-shadow: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 45px;
}

.h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
    font-weight: bold;
}

button {
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: 0;
    border: 0;
    box-shadow: none !important;
}

input {
    border: 1px solid #111;
}

input:focus,
textarea:focus {
    outline: 0;
}

/* ======================== 3. Global Style ======================== 
================================================================*/

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
}

.card {
    border: 0;
    border-radius: 0;
}

.card-header {
    border: 0;
    background: transparent;
}

/* ======================== 4. Header ==============================
================================================================*/

header.page-header {
    position: relative;
    z-index: 3;
}

header.page-header .topbar {
    height: 79px;
    background: #fff;
    color: #505050;
}

header.page-header .logo {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/* ========================== 5. Hero ==============================
================================================================*/

.hero {
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position-x: center !important;
}

.hero .hero-text {
    position: relative;
    margin-left: 100px;
    padding: 92px 0;
    width: 350px;
    max-width: 100%;
    color: #fff;
    font-style: italic;
    z-index: 6;
}

.hero .hero-text h1 {
    margin-bottom: 23px;
}

.hero .hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Under Icons */

.hero .under-icons {
    padding: 30px 0 65px;
    background: #fff;
}

.hero .under-icons .row {
    margin-left: 90px;
}

/* Hero Modal */

.hero-modal {
    font-size: 15px;
    color: #898888;
    width: 445px;
    padding: 35px;
    background: #fff;
    position: absolute;
    top: 50px;
    right: 70px;
    box-shadow: 0 4px 5px 2px #eee;
    border-radius: 3px;
}

.hero-modal>h2 {
    margin-bottom: 25px;
    font-weight: 300;
}

.hero-modal .radio-btn {
    margin-bottom: 14px;
}

.hero-modal .radio-btn .button {
    margin: 0 10px;
    color: #414141;
}

.hero-modal .radio-btn p {
    margin-right: 36px;
    margin-left: 10px;
    color: #414141;
    font-size: 13px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.hero-modal .describe-select {}

.modal-form .describe-select select.form-control {
    height: 30px !important;
}

.hero-modal .describe-select p {
    color: #aaa;
    font-size: 11px;
}

/* Modal Form */

.modal-form {}

.modal-form imput {
    margin-bottom: 6px;
    border: 1px solid #e1e1e1;
    padding: 16px 12px;
    color: #898888;
}

.modal-form .form-control {
    border-radius: 0 !important;
}

.modal-form .form-group {
    margin-bottom: 7px;
}

.modal-form select {
    color: #898888;
}

.modal-form option {
    color: #898888;
}

.modal-form .d-flex input:first-child {
    margin-right: 7px;
}

.modal-form button[type="submit"] {
    padding: 15px 50px;
    background: #f94e7a;
    color: #fff;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

.modal-form button[type="submit"]:hover {
    background: #f94e7ae6;
}

/* Hero Side Image */

.side-img {}

.side-img {
    content: '';
    position: absolute;
    width: 215px;
    height: 100%;
    top: 10px;
    left: 0;
}

/* ========================== 6. Testimonials ==============================
=======================================================================*/

.testimonials {}

.testimonials .card {
    text-align: center;
    color: #fff;
    border-right: 1px solid #fff;
    height: 100%;
    padding: 20px 100px;
}

.testimonials .card .card-header i {
    font-size: 25px;
}

.testimonials .card p {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
}

.testimonials .card .blockquote-footer {
    color: #fff;
    font-weight: 300;
    font-style: italic;
}

/* ========================== 7. Services Area ==============================
=========================================================================*/

.services-area {
    padding: 80px 0 60px;
    background: #fff;
}

.services-area .serviees {}

.services-area .serviees .header {
    padding: 0 40px;
}

.services-area .serviees .header h3 {
    margin: 35px 0 25px;
    font-weight: 400;
}

.services-area .serviees ul {}

.services-area .serviees .content p {
    margin-bottom: 20px;
}

.services-area .serviees ul li {
    margin-bottom: 20px;
}

/* ========================== 8. Download Products ==============================
=============================================================================*/

.download-pro {
    color: #fff;
    background: #f94e7a;
    padding: 70px 30px;
    border-bottom: 5px solid #fff;
}

.download-pro .download-btn {
    padding: 15px 44px;
    background: #fff;
    color: #f94e7a;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
}

.download-pro h1 {
    font-weight: 300;
}

.download-pro .download-btn:hover {
    text-decoration: none;
    background: #efefef;
}

.download-pro {}

/* =============================== 9. Footer ===================================
=============================================================================*/

.page-footer {
    background: #e9e9e9;
    padding: 55px 0 30px;
}

.page-footer .footer-widgets {}

.page-footer .footer-widgets .widget {
    width: 20%;
    text-align: center;
}

.page-footer .footer-widgets .widget h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.page-footer .footer-widgets .widget ul li {
    font-weight: bold;
    margin-bottom: 5px;
}

.page-footer .footer-widgets .widget ul a:hover {
    text-decoration: none;
    color: #555;
}

.page-footer .footer-widgets .widget .subs-form input,
.page-footer .footer-widgets .widget .subs-form button[type="submit"] {
    border: 2px solid #555555;
    background: #fff;
    border-radius: 0;
}

.page-footer .footer-widgets .widget .subs-form button[type="submit"] {
    padding: 10px;
    color: #555;
    font-weight: bold;
    display: inline-block;
    margin-top: 22px;
}

.page-footer .footer-widgets .widget .icons a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.page-footer .footer-widgets .widget .icons a:hover {
    color: #f94e7a;
    transform: scale(1.3);
}

.footer-bottom .logos img {
    display: inline-block;
    margin-right: 5px;
}